<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_manipulation_navigation)/maps/map_t1.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="first_robot" default="TBwOM_1"/>
  <arg name="second_robot" default="TBwOM_2"/>

  <!-- Turtlebot3 -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot3_manipulation_description)/urdf/turtlebot3_manipulation_robot.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- First Robot launch -->
  <!-- <node ns="$(arg first_robot)" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg first_robot)" />
  </node>

  <node ns="$(arg first_robot)" pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen" >
    <rosparam command="load" file="$(find turtlebot3_manipulation_slam)/config/scan_data_filter.yaml" />
  </node>   -->

  <!-- Second Robot launch-->
  <node ns="$(arg second_robot)" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg second_robot)" />
  </node>

  <node ns="$(arg second_robot)" pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen" >
    <rosparam command="load" file="$(find turtlebot3_manipulation_slam)/config/scan_data_filter.yaml" />
  </node> 

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

  <!-- First Robot AMCL -->

  <!--<include file="$(find turtlebot3_manipulation_navigation)/launch/amcl_multirobot.launch">-->
   <!-- <arg name="multi_robot_name" value="$(arg first_robot)"/>-->
    <!-- <arg name="initial_pose_x"  value="0.0" />
    <arg name="initial_pose_y"  value="0.0" />
    <arg name="initial_pose_a"  value="1.5708" /> -->
    <!--<arg name="initial_pose_x"  value="1.0" />-->
    <!--<arg name="initial_pose_y"  value="2.0" />-->
    <!--<arg name="initial_pose_a"  value="0.0" />-->
 <!-- </include> -->

  <!-- Second Robot AMCL -->
  <!-- <include file="$(find turtlebot3_manipulation_navigation)/launch/amcl_multirobot.launch"> -->
  <include file="$(find turtlebot3_manipulation_navigation)/launch/single_ns_amcl_multirobot.launch">
    <arg name="multi_robot_name" value="$(arg second_robot)"/>
    <!-- <arg name="initial_pose_x"  value="1.0" />
    <arg name="initial_pose_y"  value="1.0" />
    <arg name="initial_pose_a"  value="1.5708" /> -->
    <arg name="initial_pose_x"  value="1.0" />
    <arg name="initial_pose_y"  value="2.0" />
    <arg name="initial_pose_a"  value="0.0" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_manipulation_navigation)/rviz/turtlebot3_manipulation_navigation.rviz" output="screen">
    </node>
  </group>
</launch>
